
.task-container{
  margin-top: 8%;
}

.del-all{
  margin-top: 1%;
}
 

h1 {
  background-color: #037052;
  color: white;
  margin: 0;  /* No margin between h1 and input box */
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;  /* Since an h1 is by default bolded */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.task-list {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li.task-list:hover span {
  width: 40px;
  /*transition: width 0.4s;*/
  opacity: 1;
}

li.task-list:nth-child(2n) {
  background-color: #f7f7f7;
}

span {
  background: darkred;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;

  transition: 0.2s linear;
  opacity: 0;
}

input {
  font-size: 18px;
  background-color: #f7f7f7;
  color: #037052;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;

  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  outline: none;
  /* To make the annoying blue default browser outline disappear */
  border: 3px solid #037052;
  background: #fff;
}
input[type=checkbox]{
  margin-top: 23%;
}
#container {
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.1);
  /* offset-x | offset-y | blur-radius | color */
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);*/
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.fa-plus {
  float: right;
}
