<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Todo List</a>
        </div>  
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="" (click)="logout()">Logout</a></li>
          </ul>
        </div>
    </div>
</nav>

<div class="container-fluid task-container center_div">
     <div class="row">
        <div class="col col-sm-12">
            <h1>To-do List</h1>
            <form (submit)="addTodo($event)">
                <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" placeholder="Add New Todo" class="textfield" name="newTodo" />
            </form>
        </div>
     </div>
    
     <div class="row">
        <div class="col col-sm-12">
            <ul>
            <li class="task-list" *ngFor="let todo of todos; let i=index">
                <div class="row">
                    <div class="col col-sm-1">
                        <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
                    </div>
                    <div class="col col-sm-8">
                        {{ todo.newTodo }}
                    </div>
                    <div class="col col-sm-3">
                    <button class="btn btn-danger" (click)="deleteTodo(i)">Delete</button>
                    </div>
                </div>
                </li>
            </ul>
        </div>
     </div>

      <div class="row del-all">
        <div class="col col-sm-12">
            <button class="btn btn-danger" (click)="deleteSelectedTodos()">Delete Selected</button>
            <button class="btn btn-info" (click)="selectAll()">Select All</button>
            <h6 *ngIf="todos.length">The total no. of to do list are : {{todos.length}}</h6>
        </div>
    </div> 
</div>