<div class="container">
    <div class="login">
        <h1> Login </h1>
<form class="form-horizontal center_div" (submit)="login()">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Username:</label>
    <div class="col-sm-10">
      <input type="text" [(ngModel)]="username" class="form-control" name="name" placeholder="Enter Username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" [(ngModel)]="password" class="form-control" name="pwd" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
    </div>
  </div>
</form>
</div>
</div>