/* You can add global styles to this file, and also import other style files */
.backdrop{
  background-color:#1A2530;
  font-family:Helvetica;
  color: #E3D8C9;
}

.center_div{
    margin: 0 auto;
    width:80% 
}